.calendar-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.calendar-header i {
  font-size: 40px;
  color: mediumseagreen;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: grey;
}

@media (max-width: 1024px) {
  .calendar-weekdays {
    display: none;
  }
  .calendar-day-number {
    display: none;
  }
}

@media (max-width: 768px) {
  .calendar-weekdays {
    display: none;
  }
  .calendar-day-number {
    display: none;
  }
}

@media (max-width: 480px) {
  .calendar-weekdays {
    display: none;
  }
  .calendar-day-number {
    display: none;
  }
}

.calendar-weekdays span {
  margin: 0 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;
  padding: 2px;
  border-radius: 4px;
  text-align: left;
  background-color: darkslategray;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  max-height: 100px;
  padding: 2px;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

.calendar-day .calendar-event-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.calendar-event-content::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.calendar-event-content::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}

.calendar-event-content::-webkit-scrollbar-thumb {
  background: darkgoldenrod;
  border-radius: 10px;
  border: 2px solid black;
}

.calendar-event-content::-webkit-scrollbar-thumb:hover {
  background: goldenrod;
}

.calendar-event-content::-webkit-scrollbar-corner {
  background: black;
}

.calendar-day-number {
  position: relative;
  padding: 2px;
  font-size: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.today {
  background-color: mediumseagreen;
}

.past {
  background-color: rgb(140, 61, 61);
  color: white;
}

.month-days {
  font-weight: bold;
}

.selected {
  cursor: pointer;
}

.selected:hover {
  background-color: darkslategray;
}

.selected:active {
  background-color: darkred;
}

.future {
  background-color: rgb(229, 229, 229);
}

.has-events {
  background-color: yellow;
}
